:root{
    --teal: #20c997;
    --cyan:#17a2b8;
}
header{
    margin-top: 40px;
    margin-bottom: 35px;
}
.header-menu{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
.logo{
    font-size: 25px;
    font-weight: 500;
    height: 50%;
    margin: 0 25px 0 0;
}
.btn{
    margin-right: 10px;

    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    border-color: var(--cyan);
    border-width: 1px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    /* transition: all 0.2s ease; */
}
.mini-font{
    font-size: 15px;
}